# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules/

# Ignore the 'Document' folder
Document/

# Ignore the 'myvenv' virtual environment folder
myvenv/


# Logs
logs
*.log

# Misc
.DS_Store

# Local env files
.env
.env.*
!.env.example
