.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #f3f3f3;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar {
    background-color: #1A1A1A !important;
}

.btn {
    border-radius: 0 !important; /* ยกเลิกการทำขอบมน */
    background-color: #FFB700 !important;
    border: none !important; /* ยกเลิกการใช้ขอบสีฟ้า */
    color: #fff !important; /* เปลี่ยนสีตัวอักษรเป็นสีขาว */
  }

.logotext {
    color: #FFB700 !important;
}

.container-fluid {
    padding-left: 200px !important; /* เพิ่มพื้นที่ทางซ้าย */
    padding-right: 200px !important; /* เพิ่มพื้นที่ทางขวา */
  }

.preface {
    background-color: #E4E4E4 !important;
    padding: 20px; /* เพิ่มพื้นที่รอบๆ เนื้อหา */
    padding-bottom: 200px; /* เพิ่มพื้นที่รอบๆ เนื้อหา */
  }

  .img-box img {
    width: 100%; /* ให้รูปภาพเต็มคอลัมน์ */
    height: auto; /* คงอัตราส่วนของรูปภาพ */
  }

  .row {
    display: flex;
    align-items: center; /* แนวตั้งของทั้งสองคอลัมน์ให้เท่ากัน */
  }

  .col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* card */
  .feature_section {
    -webkit-transform: translateY(-45%);
            transform: translateY(-45%);
  }

  /* ทำให้เรียงแถวเดียวกัน */
  .feature_section .feature_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .feature_section .feature_container .box {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0 10px;
    padding: 45px 15px;
    background-color: #ffffff;
    color: #FFB700;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  }

  .feature_section .feature_container .box .img-box {
    width: 90px;
    height: 90px;
  }

  .feature_section .feature_container .box .img-box svg {
    width: 100%;
    height: auto;
    max-height: 100%;
    fill: #FFB700;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .feature_section .feature_container .box .img-box svg path {
    fill: #FFB700;
  }

  .feature_section .feature_container .box .name {
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Merriweather Sans', sans-serif;
    margin-bottom: 0;
  }

  .feature_section .feature_container .box:hover, .feature_section .feature_container .box.active {
    background-color: #ff8a1d;
    color: #ffffff;
  }
  
  