/* navbar */
.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #f3f3f3;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
  }

  .navbar {
    background-color: #1A1A1A !important;
  }

.nav-item:hover {
  color: #FFB700 !important; /* เปลี่ยนสีเมื่อ hover */
  transform: scale(1.05); /* ขยายขึ้นเล็กน้อย */
}

/*navselect */
.btn {
    border-radius: 0 !important; /* ยกเลิกการทำขอบมน */
    background-color: #FFB700 !important;
    border: none !important; /* ยกเลิกการใช้ขอบสีฟ้า */
    color: #fff !important; /* เปลี่ยนสีตัวอักษรเป็นสีขาว */
  }

  .btn:hover {
    background-color: #ff7300 !important; /* เปลี่ยนสีเมื่อ hover */
    
  }

  .logotext {
    color: #FFB700 !important;
  }

  .container-fluid {
    padding-left: 200px !important; /* เพิ่มพื้นที่ทางซ้าย */
    padding-right: 200px !important; /* เพิ่มพื้นที่ทางขวา */
  }

/* ข้อมูลกับรูป */
.preface {
    background-color: #E4E4E4 !important;
    padding: 20px; /* เพิ่มพื้นที่รอบๆ เนื้อหา */
    padding-bottom: 220px; /* เพิ่มพื้นที่รอบๆ เนื้อหา */
  }

  .img-box img {
    width: 100%; /* ให้รูปภาพเต็มคอลัมน์ */
    height: auto; /* คงอัตราส่วนของรูปภาพ */
  }

  .row {
    display: flex;
    align-items: center; /* แนวตั้งของทั้งสองคอลัมน์ให้เท่ากัน */
  }

  .col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* card */
.feature_section {
    -webkit-transform: translateY(-45%);
            transform: translateY(-60%);
  }

  /* ทำให้เรียงแถวเดียวกัน */
  .feature_section .feature_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .feature_section .feature_container .box {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0 10px;
    padding: 80px 0px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #FFB700;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  }

  .feature_section .feature_container .box .img-box {
    width: 90px;
    height: 90px;
  }

  .feature_section .feature_container .box .img-box svg {
    width: 100%;
    height: auto;
    max-height: 100%;
    fill: #FFB700;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .feature_section .feature_container .box .img-box svg path {
    fill: #FFB700;
  }

  .feature_section .feature_container .box .name {
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Merriweather Sans', sans-serif;
    margin-bottom: 0;
  }

  .feature_section .feature_container .box:hover, .feature_section .feature_container .box.active {
    background-color: #ff8a1d;
    color: #ffffff;
  }

  .cardselect {
    background-color: #000000 !important;
    padding: 20px; /* เพิ่มพื้นที่รอบๆ เนื้อหา */
    padding-bottom: 200px; /* เพิ่มพื้นที่รอบๆ เนื้อหา */
  }

  .contact-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFB700; /* สีพื้นหลังปกติ */
    color: white;
    text-decoration: none;
    
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease; /* ทำให้ลื่นไหล */
    border: none;
  }

  .contact-btn:hover {
    background-color: #ff7300; /* เปลี่ยนสีเมื่อ hover */
    transform: scale(1.05); /* ขยายขึ้นเล็กน้อย */
  }

/* อุณหภูมิ card */
.temperature-card {
    border-radius: 20px;
}
  .temperature-png {
    width: 150px; /* ปรับขนาดรูปให้เล็กลง */
    height: auto; /* คงอัตราส่วนของรูป */
    padding: 2rem;

  }
  .temperature-text-red {
    color: #FF3131;
    font-size: 50px;
  }

  .temperature-text-green {
    color: #00BF63;
    font-size: 50px;
  }

  .temperature-text-blue {
    color: #0097B2;
    font-size: 50px;
  }

  .topic-text {
    font-size: 25px;
  }
  
.info-temperature {
  padding: 5rem;
}

.info-temperature2{
  margin: 5rem;
}

.card-temperature {

    min-width: 400px;  /* กำหนดขนาดขั้นต่ำ */
    min-height: 500px;
    border-radius: 20px;
    padding: 20px 20px;
  
}

.timestamp-card{
  padding-left: 1.5rem;
}

.readtime{
  padding-top: 1rem;
}

.timestamp-topic {
  padding-top: 0.5rem;
  padding-left: 1.5rem;
}